<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AsrMethod</key>
	<integer>0</integer>
	<key>EnableGrowl</key>
	<true/>
	<key>EnableSound</key>
	<true/>
	<key>IshaMethod</key>
	<integer>0</integer>
	<key>Latitude</key>
	<real>35.776049</real>
	<key>LocCity</key>
	<string>Raleigh</string>
	<key>LocCountry</key>
	<string>USA</string>
	<key>LocState</key>
	<string>NC</string>
	<key>SetCity</key>
	<string>Raleigh</string>
	<key>SetCountry</key>
	<string>USA</string>
	<key>SetState</key>
	<string>NC</string>
	<key>Longitude</key>
	<real>-78.708551999999997</real>
	<key>PlayAdhanForAsr</key>
	<true/>
	<key>PlayAdhanForDhuhur</key>
	<true/>
	<key>PlayAdhanForFajr</key>
	<true/>
	<key>PlayAdhanForIsha</key>
	<true/>
	<key>PlayAdhanForMaghrab</key>
	<true/>
	<key>ShuruqReminder</key>
	<false/>
	<key>MinutesBeforeShuruq</key>
	<integer>30</integer>
	<key>Sound</key>
	<integer>0</integer>
	<key>StickyGrowl</key>
	<true/>
	<key>StartAtLogin</key>
	<false/>
	<key>CheckForUpdates</key>
	<true/>
	<key>FirstRun</key>
	<true/>
	<key>DisplayIcon</key>
	<true/>
	<key>DisplayNextPrayer</key>
	<true/>
	<key>MenuDisplayTime</key>
	<integer>0</integer>
	<key>MenuDisplayName</key>
	<integer>0</integer>
</dict>
</plist>
