<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AsrMethod</key>
	<integer>0</integer>
	<key>IshaMethod</key>
	<integer>0</integer>
	<key>Latitude</key>
	<real>35.779747999999998</real>
	<key>Longitude</key>
	<real>-78.643414000000007</real>
</dict>
</plist>
