<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AsrMethod</key>
	<integer>0</integer>
	<key>AsrOffset</key>
	<integer>15</integer>
	<key>CheckForUpdates</key>
	<true/>
	<key>DhuhurOffset</key>
	<integer>15</integer>
	<key>DisplayIcon</key>
	<true/>
	<key>DisplayNextPrayer</key>
	<true/>
	<key>DisplayNextPrayerName</key>
	<integer>0</integer>
	<key>DisplayNextPrayerTime</key>
	<integer>1</integer>
	<key>EnableGrowl</key>
	<true/>
	<key>EnableSound</key>
	<true/>
	<key>FajrOffset</key>
	<integer>15</integer>
	<key>FajrReminder</key>
	<false/>
	<key>FarMethod</key>
	<integer>1</integer>
	<key>FirstRun</key>
	<true/>
	<key>IshaMethod</key>
	<integer>3</integer>
	<key>IshaOffset</key>
	<integer>15</integer>
	<key>Latitude</key>
	<real>35.776049</real>
	<key>Location</key>
	<string>Raleigh, NC</string>
	<key>Longitude</key>
	<real>-78.708552</real>
	<key>MaghribOffset</key>
	<integer>15</integer>
	<key>MinutesBeforeFajr</key>
	<integer>45</integer>
	<key>MinutesBeforeShuruq</key>
	<integer>30</integer>
	<key>PlayAdhanForAsr</key>
	<true/>
	<key>PlayAdhanForDhuhur</key>
	<true/>
	<key>PlayAdhanForFajr</key>
	<true/>
	<key>PlayAdhanForIsha</key>
	<true/>
	<key>PlayAdhanForMaghrib</key>
	<true/>
	<key>ShuruqOffset</key>
	<integer>15</integer>
	<key>ShuruqReminder</key>
	<false/>
	<key>SoundFile</key>
	<integer>0</integer>
	<key>StartAtLogin</key>
	<false/>
	<key>StickyGrowl</key>
	<false/>
	<key>UserSound</key>
	<false/>
	<key>UserSoundFile</key>
	<string></string>
</dict>
</plist>
